CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_PARTITION_TABLE_SINGLE_APP=n

# TurboWarp cloud (wss://clouddata.turbowarp.org/) uses Let's Encrypt
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_WS_OVER_TLS_SERVER_AUTH=y
